services:
  app:
    build: ./app
    ports:
      - "8080:8080"
    environment:
      - EXTERNAL_API_URL=http://mock-api:9090/verify-user
      - INFLUXDB_USER=admin
      - INFLUXDB_PASSWORD=admin123
      - INFLUXDB_DB=my_database
    depends_on:
      - mock-api
      - influxdb
    restart: unless-stopped

  mock-api:
    build: ./mock-api
    ports:
      - "9090:9090"
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:v2.55.0
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    ports:
      - "19090:9090"
    restart: unless-stopped

  grafana:
    image: grafana/grafana:11.3.0
    ports:
      - "3001:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin123
    depends_on:
      - prometheus
      - influxdb
    restart: unless-stopped

  influxdb:
    image: influxdb:1.8
    ports:
      - "8086:8086"
    volumes:
      - influxdb_data:/var/lib/influxdb
    environment:
      - INFLUXDB_DB=my_database
      - INFLUXDB_ADMIN_USER=admin
      - INFLUXDB_ADMIN_PASSWORD=admin123
      - INFLUXDB_USER=admin
      - INFLUXDB_USER_PASSWORD=admin123
    restart: unless-stopped

  chronograf:
    image: chronograf:1.8
    ports:
      - "8888:8888"
    volumes:
      - chronograf_data:/var/lib/chronograf
    environment:
      - INFLUXDB_URL=http://influxdb:8086
      - INFLUXDB_USERNAME=admin
      - INFLUXDB_PASSWORD=admin123
    depends_on:
      - influxdb
    restart: unless-stopped

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.49.1
    container_name: cadvisor
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /:/rootfs:ro
      - /sys:/sys:ro
    ports:
      - "8081:8080"
    privileged: true
    restart: unless-stopped

  node-exporter:
    image: prom/node-exporter:v1.8.2
    container_name: node-exporter
    ports:
      - "9100:9100"
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    restart: unless-stopped

volumes:
  prometheus_data:
  grafana_data:
  influxdb_data:
  chronograf_data: